@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
* {
    max-width: 1980px;
    font-family: "BioRhyme";

} 
:root {
    --primary-color: #E0CA3C;
    --secondary-color: #EEF0F2;
    --accent1-color: #009AA2;
    --accent2-color: #3A6EA5;
    --heading-font: 'BioRhyme', serif;
    --paragraph-font: 'BioRhyme', serif;
    --nav-background-color: #E0CA3C;
    --nav-link-color: #3A6EA5;
    --nav-hover-link-color: #3A6EA5;
    --nav-hover-background-color: #009AA2;
}

h1{
    color: var(--accent1-color);
    font-family: var(--heading-font);
    margin-bottom: 425px;
}

h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

p {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

div article {
    /* background-image: url("../images/hero.png"); */
    position: absolute;
    top: 42%;
    left: 2%;
    display: block;
}

div article img {
    position: absolute;
    top: 20%;
    left: 105%;
    max-width: 100px;

}

div p {
    position: relative;
    max-width: 400px;
    max-height: auto;
    padding: 1%;
}
section img {
    max-width: 400px;
}
a img {
    max-width: 50px;
}
/* Class definitions  */
.hero {
    display: block;
    
}

.heroimg {
    position: absolute;
    top: 33%;
    display: block;
    width: ;
   
    
}