* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 1px;
}


body {
  background-color: rgb(228, 228, 228);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1500px;
  background-color: steelblue;
  padding: 2px;
  gap: 2px;
}

nav a {

  color: white;
  display: block;
  padding: 20px;
}

 h1 {
  margin: 1%;
  padding: 5px;
  color: steelblue;
  border-bottom: solid 1px steelblue;
}

main img {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 150px;
  height: auto;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  
}

p {
  padding: 1%;
}

main ul {
  grid-row: unset;
}


main {
  max-width: 840px;
  grid-column: 2/3;
  margin: 1rem;
}
.grid{
  display: grid;
  align-items: center;
}

aside {
  position: relative;
  
  width: 20rem;
  margin: 5px;
  border:  3px solid #150080;
  padding: 0%;
  background-color: #3295a7;
  color: white;
  grid-column: 1/2;
  grid-row: 1/2;
}


aside img {
  width: 250px;
  height: auto;
}

aside h2 {
  position: relative;
  
}

header, .grid, footer {
  margin: 0;
  max-width: 840px;
}

footer {
  border-top: solid 1px steelblue;
}


link {
  color: steelblue;
}
/* Class Selectors */

  
  

.box {
  margin: 2rem;
  border: 1px solid black;
  padding: 2rem;
  background-color: #3295a7;
  color: black;
}

